.conversion-inputs {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle {
    display: flex;
    justify-content: center;
}

.medium-width {
    width: 200px;
    height: 50px;
}